{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Lineamientos de diseño{% endblock %}</title>

    {% block extrajs %}{% endblock %}
    {% block extracss %}{% endblock %}

    <!-- Tu CSS compilado -->
    <link rel="stylesheet" href="{% static 'bundles/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    {% include 'core/partials/header.html' %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% include 'core/partials/footer.html' %}
</body>
</html>
