{% load static %}
<footer class="py-4 mt-auto">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <!-- Logo -->
    <div class="mb-3 mb-md-0">
      <a href="/" class="d-inline-flex align-items-center text-white text-decoration-none">
        <img src="{% static 'images/logo_uspec2024.jpg' %}" alt="Logo" height="100" class="me-2">
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-md-end">
      <small>&copy; 2025 Lineamientos de diseño USPEC. Todos los derechos reservados.</small>
    </div>
    <div class="col-md-3 text-center text-md-start">
        <h5 class="fw-bold">redes sociales</h5>
        <a href="https://chat.whatsapp.com/ETIh0BnRikoIQGfKzKrPWM" target="_blank" class="social-icon"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.instagram.com/uspec_colombia" target="_blank" class="social-icon"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/unidad.uspec" target="_blank" class="social-icon"><i class="bi bi-facebook"></i></a>
        <a href="https://twitter.com/USPEC_Colombia" target="_blank" class="social-icon"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.youtube.com/channel/UCezzwBNo5f8xnmx9J2AKUow" target="_blank" class="social-icon"><i class="bi bi-youtube"></i></a>
      </div>
  </div>
</footer>
