.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/static/images/background-login.jpeg');
  background-size: cover;
}

.bg-form-login {
  height: 100vh;
  background-image: url('/static/images/bg-form.jpg');
  background-size: cover;
}

.shadow-end {
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5); /* Sombra al lado derecho */
  z-index: 1;
}
  